@inherits LayoutComponentBase

<PageTitle>Mohamad Rais Bin Abd Rasib</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/RaisTMJ" target="_blank">About Me</a>
        </div>

        <article class="content px-4">
            <MatThemeProvider Theme="@theme2">
                            @Body
            </MatThemeProvider>
        </article>
    </main>
</div>
@code
{
    
    MatTheme theme2 = new MatTheme()
    {
        Primary = "green",
        Secondary = "orange"
    };

}
